*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: blueviolet; */
   

}


.container{
   width: 100%;
   min-height: 100vh;
   background: linear-gradient(135deg,rgb(159, 117, 199),pink);
   padding: 20px;
}


.todo-app{
    border: 3px solid black;
    width: 100%;
    max-width: 540px;
    background: #fdeaff;
    margin : 100px auto 2px;
    padding: 40px 30px 70px;
    padding-top: 15px;
    /* padding-bottom: 20px; */
    border-radius: 30px;
}

.todo-app h2{
    color: #073f99;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: default;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(255, 127, 168);
    padding: 8px 19px;   
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    position : relative;
    cursor:default;
}


.bt{
    background-color: rgb(125, 65, 167);
    color: white; 
    border-radius: 20px;
    padding: 6px 10px;     
}
.task-text {
    font-weight: bold; /* Makes the text bold */
    font-size: 15px;   /* Sets the font size to 18px */
    color: #333;       /* Optionally, set a color for the text */
    font-family: Arial, sans-serif; /* Set a font family */
    width: 150px;
}

h5{
    font-size: 12px;
    /* font-weight: lighter; */
    font-style: italic;
    color: #757070;
}

#list-container li {
    display: flex;           /* Use flexbox for the list item */
    justify-content: space-between; /* Space out the content */
    align-items: center;     /* Vertically center the content */
    margin-bottom: 10px;     /* Space between tasks */
    padding: 5px;
}
button:hover {
    background:radial-gradient(rgb(255, 234, 237),rgb(224, 182, 187));
}
/* Wrapper for the buttons */
.button-wrapper {
    display: flex;        /* Use flexbox to align buttons horizontally */
    gap: 5px;            /* Space between buttons */
}

.topic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ss{
    margin-left: 100%;
    padding-bottom: 15px;
}
.ss:hover{
    color: #c742a2;
}

.date-header {
    margin: 20px 0 10px 0;
    color: #555;
    cursor: default;
}

.bx{
    background-color: #d3b7e7;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.bx:hover{
    background:radial-gradient(rgb(255, 234, 237),rgb(224, 182, 187));
}