<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
</head>
<body>
    <h2>Edit Task</h2>
    <form action="{% url 'edit' tasks.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="texts" value="{{ tasks.textmodel }}">
        <input type="checkbox" name="checks"{% if tasks.checks %}checked{% endif %} ">
        <button type="submit">Update</button>
    </form>
    <a href="{% url 'home' %}"><button>Cancel</button></a>
</body>
</html>
