<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO APP</title>
 
    <!-- css internal -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="todo-app">
                <div class="topic">
                    <!-- {% if messages %}
                    {% for m in messages  %}
                    <div>{{m}}</div>
                      
                    {% endfor %}
                      
                    {% endif %} -->
                <h2>TO-DO List<img src="{% static 'images/title.png' %}" alt=""></h2>
                <a href="{% url 'complete' %}"><button type="button">Completed</button></a>
            </div>
                <div class="row">
                    <input type="text" name="texts" id="input-box" placeholder="Add your text">
                    <button type="submit">Add</button>
                </div> 
                {% for i in datas %} 
                <!-- if i.date is changed ani matrai vitrw pasxa ni tw so loop hudaina date ko id xaina so jaxa tahi stay garxa -->
                {% ifchanged i.date %} 
                <h3 class="date-header">{{ i.date|date:"F j, Y" }}</h3>
            {% endifchanged %}
                <ul id="list-container">
                    <li>
                        <span class="task-text">{{i.textmodel}}</span>
                        <div class="button-wrapper">
                        <a href="{% url 'delete' i.id %}"><button type="button">Done</button></a>
                            <a href="{% url 'edit' i.id %}"><button type="button">Edit</button></a>
                        </div>
                    </li>
                    
                </ul>
            {% endfor %}
            </div>
        </div>
    </form>
</body>
</html> 