<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO APP</title>
 
    <!-- css internal -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="todo-app">
                <h2>TO-DO List<img src="{% static 'images/title.png' %}" alt=""></h2>
                <div class="row">
                    <input type="text" name="texts" id="input-box" placeholder="Add your text">
                    <button type="submit">Add</button>
                </div>
                {% for i in datas %}  
                <ul id="list-container">
                    <li>
                      
                        <span class="task-text">{{i.textmodel}} </span>
                        <div class="button-wrapper">
                        <a href="{% url 'delete' i.id %}"><button type="button">Done</button></a>
                         <a href="{% url 'edit' i.id %}"><button type="button">Edit</button></a>
                        </div>
                        </li>
                </ul>
            {% endfor %}
            </div>
        </div>
    </form>
</body>
</html> 